.date-badge{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #15b881;
    color: #ffffff;
    font-size: 0.7em;
    padding: 4px;
}
