// card background gradients
.bg-1{
    background-image: var(--ion-purplepink-gradient);
}

.bg-2{
    background-image: var(--ion-orangeyellow-gradient);
}

.bg-3{
    background-image: var(--ion-blueblue-gradient);
}

.bg-4{
    background-image: var(--ion-redwhite-gradient);
}

.bg-5{
    background-image: var(--ion-greengreen-gradient);
}

.bg-6{
    background-image: var(--ion-greengreenlight-gradient);
}

.bg-7{
    background-image: var(--ion-yelloworange-gradient);
}

.bg-8{
    background-image: var(--ion-bluecyan-gradient);
}

.bg-9{
    background-image: var(--ion-cyancyan-gradient);
}

.bg-10{
    background-image: var(--ion-redred-gradient);
}
